body {
  font-family: Montserrat Alternates;
}

.header-container {
  background-color: #FFE738;
}

.box-about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #FFE738;
}

.box-company-description {
  padding: 50px 90px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.box-company-container {
  text-align: center;
  display: grid;
  grid-template-columns: 300px 300px;
  gap: 150px;
  align-items: center;
}

#company-image {
  border-radius: 12px;
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.3);
}

.box-company-team {
  padding: 50px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.box-company-team-developer {
  text-align: center;
}

.box-team-item-container1 {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  gap: 60px;
}

.box-team-item-container2 {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  gap: 60px;
}

.team-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 40px
}

#item-image {
  border-radius: 16px;
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.3);
}

#button-begin {
  position: fixed;
  bottom: 40px;
  right: 40px;
  padding: 10px 30px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

.box-home-description {
  position: relative;
}

#home-image {
  width: 100%;
  height: 700px;
  opacity: 0.7;
}

.slider {
  position: absolute;
  top: 10%;
  left: 8.5%;
  width: 1600px;
  height: 550px;
  /* Ancho del slider */
  overflow: hidden;
  /* Oculta el contenido que desborda el ancho del slider */
}

.slider-content {
  display: flex;
  /* Hace que las imágenes se muestren en una línea horizontal */
  animation: slide 8s infinite;
  /* Anima el deslizamiento durante 10 segundos y se repite infinitamente */
}

@keyframes slide {
  0% {
    transform: translateX(0);
    /* Comienza desde la posición inicial */
  }

  100% {
    transform: translateX(-900px);
    /* Desliza las imágenes hacia la izquierda */
  }
}

#image-wireframe {
  height: 550px;
}

.box-features-container {
  padding: 60px 80px;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 50px;
  border-width: 1px 0px 1px 0px;
  border-style: solid;
  border-color: black;
}

.box-feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px
}

.feature-image {
  border-radius: 16px;
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.3);
}

.box-question-container {
  display: grid;
  grid-template-columns: 1200px;
  gap: 30px;
}

.box-question-item {
  background-color: white;
  color: black;
  border-radius: 16px;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px
}

.box-question-item:hover {
  background-color: #fff5a9;
}